# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
**/.env
**/package-lock.json
.gitold
amplify_old
cdkold

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
package-lock.json
cdk2/containerImages/lightGlueImage/.env
src/legacy/*
cdk/containerImages/lightGlueImage/ec2user@ec2-13-245-11-9.af-south-1.compute.amazonaws.com/Dockerfile
cdk/containerImages/lightGlueImage/ec2user@ec2-13-245-11-9.af-south-1.compute.amazonaws.com/localtest.bat
cdk/README.md
cdk/schema.json
cdk/key.json
src/backup/App.css
src/backup/App.jsx
src/backup/index.css
src/graphql/mutations.js
src/graphql/queries.js
src/graphql/schema.json
src/graphql/subscriptions.js
analysis.py
ecs-service.json
