## [Start] ResponseTemplate. **
#if( $ctx.error )
  $util.error($ctx.error.message, $ctx.error.type)
#else
  #set( $resultValue = $ctx.result )
  #set( $operation = $util.defaultIfNull($ctx.source.get("__operation"), null) )
  #if( $operation == "Mutation" )
    $util.qr($resultValue.put("__operation", "Mutation"))
  #end
  $util.toJson($resultValue)
#end
## [End] ResponseTemplate. **