## [Start] Set the primary key information in metadata. **
#set( $keys = [] )
$util.qr($keys.add("id"))
$util.qr($ctx.stash.put("keys", $keys))
## [End] Set the primary key information in metadata. **
## [Start] Validate the sort direction input. **
#if( !$util.isNull($ctx.args.sortDirection) )
  $util.error("sortDirection is not supported for List operations without a Sort key defined.", "InvalidArgumentsError")
#end
## [End] Validate the sort direction input. **
{}