## [Start] ResponseTemplate. **
#if( $ctx.error )
  $util.error($ctx.error.message, $ctx.error.type)
#else
  #if( !$ctx.stash.authRules )
    $util.toJson($ctx.result)
  #else
    #set( $authResult = $util.authRules.validateUsingSource($ctx.stash.authRules, $ctx.result) )
    #if( !$authResult )
      $util.unauthorized()
      $util.toJson(null)
    #else
      $util.toJson($ctx.result)
    #end
  #end
#end
## [End] ResponseTemplate. **