.tabs-header {
  display: flex;
}

.tab-label {
  padding: 5px 15px;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

.tab-label:hover {
  background-color: #677481;
}

.tab-label.active {
  background-color: #fff;
  border-color: #ccc;
  border-bottom-color: #fff;
  margin-bottom: -1px;
}
