boto3
gql[all]
requests_aws4auth
numpy==2.1.2
matplotlib==3.10.5
scipy==1.15.3
pycocotools==2.0.10
pillow==11.0.0
torch==2.8.0+cu129
torchvision==0.23.0+cu129
opencv-python-headless
typing_extensions==4.12.2
networkx==3.3
fsspec==2024.6.1
Jinja2==3.1.4
MarkupSafe==2.1.5
filelock==3.13.1
setuptools==70.2.0
wheel==0.45.1

